.navbar{
    border-radius: 0;
    background-color: black;
}
.navEl:hover{
    background-color: gray;
}
.section1{
/*    background-color: #AAA9AE;*/
    background-color: #FFF5EE;
    margin: 0;
    padding: 4%;
}
.section2{
/*    background-color: #99989C;*/
    background-color: #EEE9E9;
    margin: 0;
    padding: 4%;
}
.slider{
    height: 40%;
}
.textBlock{
    text-align: justify;
    font-size: 1.4em;
}
.orderBtn{
    width:100%;
    color:black;
    background-color: transparent;
    border: solid 1px;
    border-color: black;
}
.orderBtn:hover{
    width:100%;
    color:black;
    background-color: #99989D;
    border: solid 1px;
    border-color: black;
    outline: none;
}
.manageMain{
    background-color: #EEE9E9;
    width:98vw;
    height:98vh;
}
.login{
    width: 25%;
    margin: auto;
}
.loginTxt{
   width: 100%;
}
.passTxt{
    width: 100%;
}
.regLoginTxt{
   width: 30%;
}
.regPassTxt{
    width: 30%;
}
#descript{
    max-width: 100%;
    min-width: 100%;
}
input {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    outline: none;
}
textarea {
    /* = Убираем скролл */
    overflow: auto;

    /* = Убираем увеличение */
    resize: none;
    width: 300px;
    height: 250px;

    /* = Добавим фон, рамку, отступ*/
    background: #f6f6f6;
    border: 1px solid #cecece;
    border-radius: 8px 0 0 0;
    padding: 8px 0 8px 10px;
    outline: none;
}
