.navbar{
    border-radius: 0;
    background-color: black;
}
.navEl:hover{
    background-color: gray;
}
.section1{
/*    background-color: #AAA9AE;*/
    background-color: #FFF5EE;
    margin: 0;
    padding: 4%;
}
.section2{
/*    background-color: #99989C;*/
    background-color: #EEE9E9;
    margin: 0;
    padding: 4%;
}
.slider{
    height: 40%;
}
.textBlock{
    text-align: justify;
    font-size: 1.4em;
}
.orderBtn{
    width:100%;
    color:black;
    background-color: transparent;
    border: solid 1px;
    border-color: black;
}
.orderBtn:hover{
    width:100%;
    color:black;
    background-color: #99989D;
    border: solid 1px;
    border-color: black;
    outline: none;
}
